<!DOCTYPE html>
<html c-whitespace="preserve">
  <head>
  </head>
  <body>
    <ul>
        <li>
            <a href=http://www.amazon.com/gp/product/B00NIYJF6U/ref=br_asw_pdt-1?pf_rd_m=ATVPDKIKX0DER&pf_rd_s=desktop-6&pf_rd_r=1KGFQQ4ZED56SY2ANJ4C&pf_rd_t=36701&pf_rd_p=2306025342&pf_rd_i=desktop> Amazon </a>
        </li>
        <li>    
            <a href=https://www.32redsport.com> Bet </a>
        </li>
    </ul>
  </body>
</html>